@use '@sass/config/vars' as v;

.themeChanger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: v.$padding;

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(v.$bg1);
  }
}
