@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.wines {
  width: 100%;

  @include d.flex($ali: center);

  &-wrapper {
    @include d.flex($ali: center, $gap: 100px);
  }

  &-gradient {
    z-index: 9;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 450px;
    height: 70px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  &-headTitle {
    display: inline;
    max-width: 900px;
    text-align: center;

    &,
    span {
      font-size: 5rem;
      text-transform: uppercase;
      text-wrap: wrap;
    }
  }
}
