@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.header {
  $gap: v.$padding * 3;

  &-logo {
    justify-content: center;
    height: 200px;

    @include d.flex;

    img {
      width: 150px;
      height: 200px;
      object-fit: contain;
    }
  }

  &-title,
  .font3 {
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &-paragraph {
    max-width: 600px;
    font-size: v.$fH3;
    text-align: center;
  }

  &-go {
    @include d.flex($dir: rpw, $ali: center);

    padding: v.$padding;
    border-radius: v.$radius;
    font-weight: bold;
    text-transform: uppercase;
  }
}
